<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FizzBuzz test page</title>

</head>
<body>
<p>Yes, this is an empty page.</p>
<p>Yes, it is ugly.</p>
<p>Check out the Console instead.</p>
<p>Still here? Hit <em>CTRL - SHIFT - J</em>... Now.</p>
<script type="text/javascript">
    /*
    Write a program that prints the numbers from 1 to 100 on the console. But:
     - for multiples of three print “Fizz” instead of the number and
     - for the multiples of five print “Buzz”.
     - For numbers which are multiples of both three and five print “FizzBuzz”.
    */

    // write your JS code here
    alert('This kinda sucks.')
    for (let i = 1; i <= 100; i++) {
        if (i % 3 === 0 && i % 5 === 0) {
            console.log(`${i}: FizzBuzz`)
        } else if (i % 3 === 0 && i % 5 != 0) {
            console.log(`${i}: Fizz`)
        } else if (i % 3 != 0 && i % 5 === 0) {
            console.log(`${i}: Buzz`)
        } else {
            console.log(`${i}: ¯\\_(ツ)_/¯`);
        }
    }

</script>
</body>
</html>
